<header>
    <div [ngClass]="Classes_txt_titulo">
        <h1>PRIMEIRO SISTEMA EM ANGULAR</h1>
    </div>

    <ul>
        <li [ngClass]="Classes_txt_nav">
            <h3>
                <a routerLink="/">HOME</a>
            </h3>
        </li>
        <li [ngClass]="Classes_txt_nav">
            <h3>
                <a routerLink="/data/1">USUARIO</a>
            </h3>
        </li>
        <li [ngClass]="Classes_txt_nav">
            <h3>
                <a routerLink="/data/2">LISTA</a>
            </h3>
        </li>
    </ul>
</header>
